*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 375px;
  height: 667px;
  overflow: scroll;
}

nav {
  margin: 0 auto;
  position: fixed;
  width: 375px;
  height: 75px;
  z-index: 100;
  background-color: #EE6352
}

.header2 {
width: 375px;
height: 54px;
padding-left: 5%;
}

.back-arrow {
  display: inline-block;
  width: 16%;
  margin: 0;
  position: relative;
  top: 6px;
}

.bus {
  display: inline-block;
  width: 8%;
  margin: 0;
  position: relative;
  top: 10px;
}

.stop {
  display: inline-block;
  width: 62%;
  margin: 0;
  position: relative;
  top: 5px;
}

.option {
  display: inline-block;
  width: 10%;
  margin: 0;
  position: relative;
  top: 9px;
}

h1.bus-stop {
  font-size: 2em;
  font-weight: 400;
}

.map {
  width: 100%;
  padding-top: 75px;
}

.map-bus {
  width: 375px;
  height: auto;
  object-fit: cover;
}

.bus-list {
  background-color: #EFEFF4;
  width: 100%;
}

.bus-info {
  height: 80.1px;
  width: 100%;
  padding-left: 6%;
  border-bottom: 0.1px solid gray;
}

h1.line {
  font-size: 2em;
  font-weight: bolder;
}

h2 {
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.4;
}

h2.category {
  font-style: italic;
  font-weight: 600;
}

.route {
  display: inline-block;
  width: 15%;
  margin: 0;
  position: relative;
  top: 2px;
}

.destination {
   display: inline-block;
   width: 38%;
   margin: 0;
   position: relative;
   top: 6px;
}

.time {
   display: inline-block;
   width: 36%;
   margin: 0;
   position: relative;
   top: 10px;
}

.arrow {
  display: inline-block;
  margin: 0;
  position: relative;
  top: 5px;
}

.route2 {
  display: inline-block;
  width: 15%;
  margin: 0;
  position: relative;
  top: 16px;
}

.destination2 {
   display: inline-block;
   width: 38%;
   margin: 0;
   position: relative;
   top: 22px;
}

.time2 {
   display: inline-block;
   width: 36%;
   margin: 0;
   position: relative;
   top: 20px;
}

.arrow2 {
  display: inline-block;
  margin: 0;
  position: relative;
  top: 18px;
}
